.services-container
    .sn-container
        section.sn-item.services.region   
            h2.services__title.region__title Lo que ofrecemos
            img(src="", alt="")
            .services__content.grid-template
                .service
                    i.icon-phone
                    h3.service__title Grandes ahorros
                    .service__desc ¡Obtenga grandes descuentos diarios!
                .service
                    i.icon-phone
                    h3.service__title 24*7 Soporte
                    .service__desc Obtenga soporte 24 horas
                .service
                    i.icon-phone
                    h3.service__title Envío gratis
                    .service__desc En orden superior a $ 99 / -