<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Coffee-bar - Gastronomía y Restauración
        <link href="https://file.myfontastic.com/s5fWaApSFyU8jy4okE69nR/icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    body
        .layout-container
            header.header
                .sn-container.top-bar.cross-center
                    .sn-item.m-60
                        ul.lef-nav
                            li
                                i.icon-phone
                                .lef-nav__title Ayuda en linea: 
                                span 012345-67890
                            li
                                i.icon-mail
                                .lef-nav__title Consultas: 
                                span yoel.store@gmail.com
                    .sn-item.m-40.main-end
                        .cart.button-cart
                            i.icon-basket
                            .cart__count Cart 5
                .full-header
                    .sn-container
                        .sn-item.s-100.l-30.full-header__logo
                            img(src="assets/logo.jpg", alt="logo")
                        .sn-item.s-100.l-70.main-end.cross-center.main-menu-nav
                            .icon-menu#main-menu-toggle
                            ul.main-menu
                                li.main-menu__item: a(href="") Coffee milk
                                li.main-menu__item: a(href="") Americano
                                li.main-menu__item: a(href="") Café crema
                                li.main-menu__item: a(href="") Mas
                            .main-menu-options
                                .icon-search
                                .icon-user-outline
                                .icon-basket
            .slider
                .slider__item
                    img(src="assets/sample-1.jpg", alt="")
                .slider__item
                    img(src="assets/sample-2.jpg", alt="")    
            main.main
                block main
            footer.footer