.testimonials
    .testimonials__bg
        img(src="assets/parallax-bg.jpg", alt="paralax")
    .testimonials__content
        .testimonials-sn-container.slider
            article.testimonial
                .testimonial__image
                    img(src="assets/user1.jpg", alt="usuario")
                .testimonial__content
                    h4 John duff
                    p "Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."
                    p - Web Developer/Designer
            article.testimonial
                .testimonial__image
                    img(src="assets/user2.jpg", alt="usuario")
                .testimonial__content
                    h4 John duff
                    p "Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."
                    p - Web Developer/Designer
            article.testimonial
                .testimonial__image
                    img(src="assets/user3.jpg", alt="usuario")
                .testimonial__content
                    h4 John duff
                    p "Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."
                    p - Web Developer/Designer