.sn-container
    section.sn-item.topcategories.region
        h2.region__title Top Categories
        img(src="", alt="").topcategories__img
        .topcategories__content.grid-template
            .topcategorie
                .topcategorie__bg
                    img(src="", alt="")
                .topcategorie__info Coffee milk
                .topcategorie__img
                    img(src="", alt="")
                .topcategorie__content
                    lu
                        li Cortado
                        li Espresso
            .topcategorie
                .topcategorie__bg
                    img(src="", alt="")
                .topcategorie__info Cortado
                .topcategorie__img
                    img(src="", alt="")
                .topcategorie__content
                    lu
                        li Frappuccino
                        li Iced Coffee
                        li Irish coffee
            .topcategorie
                .topcategorie__bg
                    img(src="", alt="")
                .topcategorie__info Espresso
                .topcategorie__img
                    img(src="", alt="")
                .topcategorie__content
                    lu
                        li Eiskaffee
                        li Carajillo
                        li Baked goods