@charset "UTF-8";
.lef-nav, .main-menu, .product__actions {
  list-style: none;
  padding: 0;
  margin: 0; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.sn-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.sn-item {
  margin: 0;
  padding-left: 0.9em;
  padding-right: 0.9em; }

/*
| Mixin para crear cuadriculas
|
| $gridItemSelector: nombre del selector CSS de cada item de la cuadricula
| $listColumns:
|              * lista de numeros de columnas en cada breakpoint (separados por espacios). Ej: 1 2 3 4
|              * el numero de columnas del ultimo breakpoint se hereda a breakpoints superiores
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 0.9rem;
  background: shade(white-bis);
  color: #777777;
  font-weight: 400;
  line-height: 1.6em;
  height: 100vh; }

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", sans-serif; }

video, iframe, img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: inline-block; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #3273dc; }
  a:active {
    color: shade(grey-darker); }
  a:hover {
    color: shade(grey-darker); }
  a:focus {
    color: shade(grey-darker); }
  a strong {
    color: currentColor; }

code,
kbd {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #7a7a7a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: shade(grey-darker);
  font-weight: 600; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

table td,
table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: shade(grey-darker); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2C3847;
  font-family: "Montserrat"; }

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.sn-item {
  width: 100%; }
  .sn-item.sn-container {
    padding-left: 0;
    padding-right: 0; }

.s-5,
.sn-item.s-5 {
  width: 5%; }

.s-10,
.sn-item.s-10 {
  width: 10%; }

.s-15,
.sn-item.s-15 {
  width: 15%; }

.s-20,
.sn-item.s-20 {
  width: 20%; }

.s-25,
.sn-item.s-25 {
  width: 25%; }

.s-30,
.sn-item.s-30 {
  width: 30%; }

.s-35,
.sn-item.s-35 {
  width: 35%; }

.s-40,
.sn-item.s-40 {
  width: 40%; }

.s-45,
.sn-item.s-45 {
  width: 45%; }

.s-50,
.sn-item.s-50 {
  width: 50%; }

.s-55,
.sn-item.s-55 {
  width: 55%; }

.s-60,
.sn-item.s-60 {
  width: 60%; }

.s-65,
.sn-item.s-65 {
  width: 65%; }

.s-70,
.sn-item.s-70 {
  width: 70%; }

.s-75,
.sn-item.s-75 {
  width: 75%; }

.s-80,
.sn-item.s-80 {
  width: 80%; }

.s-85,
.sn-item.s-85 {
  width: 85%; }

.s-90,
.sn-item.s-90 {
  width: 90%; }

.s-95,
.sn-item.s-95 {
  width: 95%; }

.s-100,
.sn-item.s-100 {
  width: 100%; }

.s-1-3,
.sn-item.s-1-3 {
  width: 33.33333%; }

.s-2-3,
.sn-item.s-2-3 {
  width: 66.66667%; }

.s-3-3,
.sn-item.s-3-3 {
  width: 100%; }

.s-1-6,
.sn-item.s-1-6 {
  width: 16.66667%; }

.s-2-6,
.sn-item.s-2-6 {
  width: 33.33333%; }

.s-3-6,
.sn-item.s-3-6 {
  width: 50%; }

.s-4-6,
.sn-item.s-4-6 {
  width: 66.66667%; }

.s-5-6,
.sn-item.s-5-6 {
  width: 83.33333%; }

.s-6-6,
.sn-item.s-6-6 {
  width: 100%; }

@media all and (min-width: 640px) {
  .m-5,
  .sn-item.m-5 {
    width: 5%; }
  .m-10,
  .sn-item.m-10 {
    width: 10%; }
  .m-15,
  .sn-item.m-15 {
    width: 15%; }
  .m-20,
  .sn-item.m-20 {
    width: 20%; }
  .m-25,
  .sn-item.m-25 {
    width: 25%; }
  .m-30,
  .sn-item.m-30 {
    width: 30%; }
  .m-35,
  .sn-item.m-35 {
    width: 35%; }
  .m-40,
  .sn-item.m-40 {
    width: 40%; }
  .m-45,
  .sn-item.m-45 {
    width: 45%; }
  .m-50,
  .sn-item.m-50 {
    width: 50%; }
  .m-55,
  .sn-item.m-55 {
    width: 55%; }
  .m-60,
  .sn-item.m-60 {
    width: 60%; }
  .m-65,
  .sn-item.m-65 {
    width: 65%; }
  .m-70,
  .sn-item.m-70 {
    width: 70%; }
  .m-75,
  .sn-item.m-75 {
    width: 75%; }
  .m-80,
  .sn-item.m-80 {
    width: 80%; }
  .m-85,
  .sn-item.m-85 {
    width: 85%; }
  .m-90,
  .sn-item.m-90 {
    width: 90%; }
  .m-95,
  .sn-item.m-95 {
    width: 95%; }
  .m-100,
  .sn-item.m-100 {
    width: 100%; }
  .m-1-3,
  .sn-item.m-1-3 {
    width: 33.33333%; }
  .m-2-3,
  .sn-item.m-2-3 {
    width: 66.66667%; }
  .m-3-3,
  .sn-item.m-3-3 {
    width: 100%; }
  .m-1-6,
  .sn-item.m-1-6 {
    width: 16.66667%; }
  .m-2-6,
  .sn-item.m-2-6 {
    width: 33.33333%; }
  .m-3-6,
  .sn-item.m-3-6 {
    width: 50%; }
  .m-4-6,
  .sn-item.m-4-6 {
    width: 66.66667%; }
  .m-5-6,
  .sn-item.m-5-6 {
    width: 83.33333%; }
  .m-6-6,
  .sn-item.m-6-6 {
    width: 100%; } }

@media all and (min-width: 1024px) {
  .l-5,
  .sn-item.l-5 {
    width: 5%; }
  .l-10,
  .sn-item.l-10 {
    width: 10%; }
  .l-15,
  .sn-item.l-15 {
    width: 15%; }
  .l-20,
  .sn-item.l-20 {
    width: 20%; }
  .l-25,
  .sn-item.l-25 {
    width: 25%; }
  .l-30,
  .sn-item.l-30 {
    width: 30%; }
  .l-35,
  .sn-item.l-35 {
    width: 35%; }
  .l-40,
  .sn-item.l-40 {
    width: 40%; }
  .l-45,
  .sn-item.l-45 {
    width: 45%; }
  .l-50,
  .sn-item.l-50 {
    width: 50%; }
  .l-55,
  .sn-item.l-55 {
    width: 55%; }
  .l-60,
  .sn-item.l-60 {
    width: 60%; }
  .l-65,
  .sn-item.l-65 {
    width: 65%; }
  .l-70,
  .sn-item.l-70 {
    width: 70%; }
  .l-75,
  .sn-item.l-75 {
    width: 75%; }
  .l-80,
  .sn-item.l-80 {
    width: 80%; }
  .l-85,
  .sn-item.l-85 {
    width: 85%; }
  .l-90,
  .sn-item.l-90 {
    width: 90%; }
  .l-95,
  .sn-item.l-95 {
    width: 95%; }
  .l-100,
  .sn-item.l-100 {
    width: 100%; }
  .l-1-3,
  .sn-item.l-1-3 {
    width: 33.33333%; }
  .l-2-3,
  .sn-item.l-2-3 {
    width: 66.66667%; }
  .l-3-3,
  .sn-item.l-3-3 {
    width: 100%; }
  .l-1-6,
  .sn-item.l-1-6 {
    width: 16.66667%; }
  .l-2-6,
  .sn-item.l-2-6 {
    width: 33.33333%; }
  .l-3-6,
  .sn-item.l-3-6 {
    width: 50%; }
  .l-4-6,
  .sn-item.l-4-6 {
    width: 66.66667%; }
  .l-5-6,
  .sn-item.l-5-6 {
    width: 83.33333%; }
  .l-6-6,
  .sn-item.l-6-6 {
    width: 100%; } }

@media all and (min-width: 1200px) {
  .xl-5,
  .sn-item.xl-5 {
    width: 5%; }
  .xl-10,
  .sn-item.xl-10 {
    width: 10%; }
  .xl-15,
  .sn-item.xl-15 {
    width: 15%; }
  .xl-20,
  .sn-item.xl-20 {
    width: 20%; }
  .xl-25,
  .sn-item.xl-25 {
    width: 25%; }
  .xl-30,
  .sn-item.xl-30 {
    width: 30%; }
  .xl-35,
  .sn-item.xl-35 {
    width: 35%; }
  .xl-40,
  .sn-item.xl-40 {
    width: 40%; }
  .xl-45,
  .sn-item.xl-45 {
    width: 45%; }
  .xl-50,
  .sn-item.xl-50 {
    width: 50%; }
  .xl-55,
  .sn-item.xl-55 {
    width: 55%; }
  .xl-60,
  .sn-item.xl-60 {
    width: 60%; }
  .xl-65,
  .sn-item.xl-65 {
    width: 65%; }
  .xl-70,
  .sn-item.xl-70 {
    width: 70%; }
  .xl-75,
  .sn-item.xl-75 {
    width: 75%; }
  .xl-80,
  .sn-item.xl-80 {
    width: 80%; }
  .xl-85,
  .sn-item.xl-85 {
    width: 85%; }
  .xl-90,
  .sn-item.xl-90 {
    width: 90%; }
  .xl-95,
  .sn-item.xl-95 {
    width: 95%; }
  .xl-100,
  .sn-item.xl-100 {
    width: 100%; }
  .xl-1-3,
  .sn-item.xl-1-3 {
    width: 33.33333%; }
  .xl-2-3,
  .sn-item.xl-2-3 {
    width: 66.66667%; }
  .xl-3-3,
  .sn-item.xl-3-3 {
    width: 100%; }
  .xl-1-6,
  .sn-item.xl-1-6 {
    width: 16.66667%; }
  .xl-2-6,
  .sn-item.xl-2-6 {
    width: 33.33333%; }
  .xl-3-6,
  .sn-item.xl-3-6 {
    width: 50%; }
  .xl-4-6,
  .sn-item.xl-4-6 {
    width: 66.66667%; }
  .xl-5-6,
  .sn-item.xl-5-6 {
    width: 83.33333%; }
  .xl-6-6,
  .sn-item.xl-6-6 {
    width: 100%; } }

@media all and (min-width: 1440px) {
  .xxl-5,
  .sn-item.xxl-5 {
    width: 5%; }
  .xxl-10,
  .sn-item.xxl-10 {
    width: 10%; }
  .xxl-15,
  .sn-item.xxl-15 {
    width: 15%; }
  .xxl-20,
  .sn-item.xxl-20 {
    width: 20%; }
  .xxl-25,
  .sn-item.xxl-25 {
    width: 25%; }
  .xxl-30,
  .sn-item.xxl-30 {
    width: 30%; }
  .xxl-35,
  .sn-item.xxl-35 {
    width: 35%; }
  .xxl-40,
  .sn-item.xxl-40 {
    width: 40%; }
  .xxl-45,
  .sn-item.xxl-45 {
    width: 45%; }
  .xxl-50,
  .sn-item.xxl-50 {
    width: 50%; }
  .xxl-55,
  .sn-item.xxl-55 {
    width: 55%; }
  .xxl-60,
  .sn-item.xxl-60 {
    width: 60%; }
  .xxl-65,
  .sn-item.xxl-65 {
    width: 65%; }
  .xxl-70,
  .sn-item.xxl-70 {
    width: 70%; }
  .xxl-75,
  .sn-item.xxl-75 {
    width: 75%; }
  .xxl-80,
  .sn-item.xxl-80 {
    width: 80%; }
  .xxl-85,
  .sn-item.xxl-85 {
    width: 85%; }
  .xxl-90,
  .sn-item.xxl-90 {
    width: 90%; }
  .xxl-95,
  .sn-item.xxl-95 {
    width: 95%; }
  .xxl-100,
  .sn-item.xxl-100 {
    width: 100%; }
  .xxl-1-3,
  .sn-item.xxl-1-3 {
    width: 33.33333%; }
  .xxl-2-3,
  .sn-item.xxl-2-3 {
    width: 66.66667%; }
  .xxl-3-3,
  .sn-item.xxl-3-3 {
    width: 100%; }
  .xxl-1-6,
  .sn-item.xxl-1-6 {
    width: 16.66667%; }
  .xxl-2-6,
  .sn-item.xxl-2-6 {
    width: 33.33333%; }
  .xxl-3-6,
  .sn-item.xxl-3-6 {
    width: 50%; }
  .xxl-4-6,
  .sn-item.xxl-4-6 {
    width: 66.66667%; }
  .xxl-5-6,
  .sn-item.xxl-5-6 {
    width: 83.33333%; }
  .xxl-6-6,
  .sn-item.xxl-6-6 {
    width: 100%; } }

.main-justify {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.main-distribute {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }

.main-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.main-end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.cross-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.cross-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.cross-end {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.flex-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

.flex-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column; }

.flex-column-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }

.abcenter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center; }

[class*="icon-"]::before {
  position: relative;
  top: 4px; }

@media screen and (max-width: 1023px) {
  .top-bar {
    display: none; } }

.top-bar .button-cart {
  padding: 1rem 2rem;
  background: #F9BD0C;
  color: #262626;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem; }
  .top-bar .button-cart i::before {
    font-size: 1.2rem;
    margin-right: 0.5rem; }

.lef-nav {
  display: -ms-flexbox;
  display: flex; }
  .lef-nav li {
    display: -ms-flexbox;
    display: flex;
    margin-right: 2rem; }
    .lef-nav li [class*="icon-"] {
      font-size: 1.3rem;
      margin-right: .8rem; }
  .lef-nav__title {
    color: #F9BD0C; }

.header {
  color: white; }
  @media screen and (max-width: 1199px) {
    .header {
      background: #262626; } }
  @media screen and (min-width: 1200px) {
    .header {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%; } }

@media screen and (min-width: 1024px) {
  .full-header {
    padding: 1.8rem 0;
    background: #171717; } }

@media screen and (min-width: 1200px) {
  .full-header {
    background: rgba(0, 0, 0, 0.5); } }

.full-header__logo {
  padding-top: .8rem;
  padding-bottom: .8rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (max-width: 1023px) {
    .full-header__logo {
      -ms-flex-pack: center;
          justify-content: center;
      border-bottom: 1px solid #373737; } }

.main-menu-nav [class*="icon-"] {
  padding: 1rem; }

.main-menu-nav [class*="icon-"]::before {
  font-size: 1.4rem;
  cursor: pointer; }

.main-menu-nav [class*="icon-"]:hover::before {
  color: #F9BD0C; }

@media screen and (max-width: 1023px) {
  .main-menu-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  #main-menu-toggle {
    display: none; } }

@media screen and (max-width: 1023px) {
  .main-menu {
    background: white;
    width: 100%;
    display: none; } }

@media screen and (min-width: 1024px) {
  .main-menu {
    display: -ms-flexbox;
    display: flex; } }

.main-menu__item a {
  line-height: 2rem;
  padding: 0 1rem; }
  @media screen and (min-width: 1024px) {
    .main-menu__item a {
      color: white; }
      .main-menu__item a:hover {
        color: #F9BD0C; } }

.main-menu-options {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 1024px) {
    .main-menu-options .icon-basket {
      display: none; } }

.button {
  background: #ffbf01;
  background: linear-gradient(to bottom, #eab92d 0%, #f7bd11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d',endColorstr='#f7bd11',GradientType=1);
  border-radius: 25px;
  color: #000;
  float: left;
  font: 400 16px/22px "Philosopher",Helvetica,sans-serif;
  letter-spacing: .8px;
  overflow: hidden;
  padding: 9px 20px;
  position: relative;
  text-transform: capitalize; }

.grid-template {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem; }

.startproduct {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #F5F5F5; }
  @media screen and (min-width: 1024px) {
    .startproduct {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.product__img {
  position: relative;
  border: 1px solid #ebebeb;
  overflow: hidden; }
  .product__img:hover:hover img:first-child {
    opacity: 0; }
  .product__img:hover:hover img:last-child {
    opacity: 1; }
  .product__img:hover:hover .product__actions {
    transform: translate(-50%, -120%);
    opacity: 1; }

.product__images {
  position: relative; }
  .product__images img {
    transition: all .6s; }
    .product__images img:first-child {
      position: relative; }
    .product__images img:last-child {
      position: absolute;
      left: 0;
      opacity: 0; }

.product__actions {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  transition: all .4s ease-in-out;
  top: 100%;
  transform: translate(-50%, 0);
  opacity: 0; }
  .product__actions li {
    background: black;
    color: white;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    margin: .5rem; }
    .product__actions li::before {
      top: 2px; }
    .product__actions li:hover {
      background: #F9BD0C;
      color: #171717; }

.product__flags {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 30; }

.product__des {
  text-align: center;
  padding-top: .8rem;
  padding-bottom: .8rem; }
  .product__des a {
    color: #777777; }

.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #262626;
  margin-top: .4rem; }

.testimonials {
  position: relative; }
  .testimonials__bg {
    height: 27rem; }
    .testimonials__bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .testimonials__content {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .testimonials-sn-container {
    max-width: 720px;
    height: 100%;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin: auto; }

.testimonial {
  display: -ms-flexbox !important;
  display: flex !important;
  color: white; }
  .testimonial h4 {
    color: white;
    font-size: 1.3rem;
    margin-top: 0; }
  .testimonial__image {
    border: 6px solid #333333;
    -ms-flex: 0 0 5.2rem;
        flex: 0 0 5.2rem;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 2rem; }

.services-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #F5F5F5; }
  @media screen and (min-width: 1024px) {
    .services-container {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.region .region__title {
  text-align: center;
  font-size: 2rem;
  color: #262626; }

.sub-banner {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .sub-banner__item {
    position: relative; }
    .sub-banner__item::before, .sub-banner__item::after {
      transition: all .7s;
      content: "";
      position: absolute;
      background: black;
      height: 100%;
      opacity: .1; }
    .sub-banner__item::after {
      left: 50%;
      width: 0;
      transform: translateX(-50%); }
    .sub-banner__item::before {
      top: 50%;
      width: 100%;
      height: 0;
      transform: translateY(-50%); }
    .sub-banner__item:hover::before {
      height: 100%;
      opacity: 0; }
    .sub-banner__item:hover::after {
      width: 100%;
      opacity: 0; }

.topcategories {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media screen and (min-width: 1024px) {
    .topcategories {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
